.sectionTitle {
	text-align: center;
	text-decoration: bold underline;
}

.sectionSubtitle {
	text-align: left;
	text-decoration: underline;
}


.sectionInformation {
	text-align: justify;
}

#section1 {
	display: block;
}

#section2 {
	display: none;
}

#section3 {
	display: none;
}